.IpadDraw-box {
    width: 90%;
    height: 90%;
}
.IpadDrw-planche {
    display: flex;
    flex-direction: row;
}

.IpadDraw-description {
    position: absolute;
    bottom: 0;
    color: black;
    margin-left: 2vmin;
}

.IpadDraw-canvas {
    cursor: crosshair, auto

}