@font-face {
  font-family: driftFont;
  src: url(./assets/ttl/Drift2.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  /* height: 100vh; */

  padding: 2vmin;

  text-align: center;
  background-color: #282c34;


  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
}

.name{
  height: 100%;
  width: 100%;
  
  font-family: driftFont;
  color: #61DBFB;


  font-size: 5vmin;

  grid-column: 1/6;
  grid-row: 1/3;
}


@media screen and (max-width: 1000px) {
  .ipad {
      display: none;
  }
  .name {
    display: none;
  }
  .App {
    display: flex;
  }
}





